* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    font-family: 'Arvo', serif;
    font-size: 62.5%;
    background-color: seashell;
    overflow-x: hidden;
}

:root {
    --main-background-color: #e31e24;
    --fnt-big: 2.2rem;
    --fnt-medium: 1.8rem;
    --main-fontColor: #c72209;
    --scnd-fontColor: #ee7777;
}

/* Header of the website */
.navbar-container {
    width: 100%;
    height: 99px;
    padding: 0 12px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--main-background-color);
}

.navbar__logo {
    padding-top: 4px;
}

.navbar__burguer-icon {
    /* If this is removed, Icon will not show */
    width: 60px;
    height: 60px;
}

.navbar__burguer-icon div {
    /* If width and height is removed, Icon will not show */
    width: 100%;
    height: 100%;
    background-image: url("../icons/burguer-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar__burguer-icon-prompt {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 98px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--fnt-big);
    background-color: var(--main-background-color);
}

.navbar__burguer-icon-prompt--hidden {
    display: none;
}

.navbar__burguer-icon-prompt .list__item, .list__item a {
    list-style-type: none;
    text-decoration: none;
    color: #fefefe;
}

.list__item a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    margin: 12px 12px 0; /* top and horizontal margin, 0 bottom */
    line-height: 2.6rem;
}

main img {
    width: 30px;
}

.desktop-bar {
    display: none;
}

.campaing {
    margin-top: 120px;
}

.campaing .campaing__title{
    margin-bottom: 26px;
    text-align: center;
    font-size: 25px;
    color: var(--main-fontColor);
}

.campaing p {
    padding: 0 20px;
    font-size: var(--fnt-medium);
    text-align: justify;
}

.brief-presentation {
    margin-top: 26px;
}

.brief-presentation-title {
    margin-bottom: 4px;
    text-align: center;
    font-size: 1.9rem;
    color: var(--main-fontColor);
}

.presentation-scndText, .presentation-scndText a {
    color: var(--scnd-fontColor);
    text-decoration: none;
}

.presentation-scndText:hover, .presentation-scndText a:hover {
    text-decoration: underline;
}

.brief-presentation p {
    font-size: 1.4rem;
    margin-bottom: 12px;
    text-align: center;
}

/* Cards */
.presentation-card-layout {
    width: 100%;
    margin-bottom: 12px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
}

.card-container {
    width: 80%;
    border: 1px solid black;
    box-shadow: -3px 2px 2px grey, 3px 2px 2px grey;
    border-radius: 10px
}

.card-img-container {
    /* margin-bottom: 4px; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* border-radius: 50%; */
}

.card-img-container img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.card-title p {
    margin-bottom: 8px;
    color: #c72209;
}

/* Mision section */
.mision {
    margin-top: 26px;   
}

.mision .title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.9rem;
    color: var(--main-fontColor);
}

.mision p {
    padding: 0 20px;
    font-size: var(--fnt-medium);
    text-align: justify;
}

.bottom-link--container {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.bottom-link {
    font-size: 1.5rem;
    text-align: center;
    color: var(--main-fontColor);
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    margin-top: 26px;
    background-color: var(--main-background-color);
}

.author {
    padding-top: 12px;
    font-size: 1.6rem;
    text-align: center;
    color: #fefefe;
}

footer .social-media {
    width: 100%;
    height: 69%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.social-media li {
    list-style-type: none;
}

.social-media img {
    border-radius: 6px;
}