* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Arvo', serif;
    font-size: 62.5%;
}

:root {
    --main-background-color: #e31e24;
    --fnt-big: 2.2rem;
    --fnt-medium: 1.8rem;
    --main-fontColor: #c72209;
    --scnd-fontColor: #ee7777;
}

body {
    background-color: seashell;
    /* background-color: #aa223f; */
    /* color: azure; */
}

/* Header of the website */
.navbar {
    width: 100vw;
    height: 99px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background-color);
}

.navbar__logo {
    width: 198px;
    padding-top: 4px;
}

.navbar img {
    width: 100%;
}

.navbar__burguer-icon {
    /* If this is removed, Icon will not show */
    width: 60px;
    height: 60px;
}

.navbar__burguer-icon div {
    /* If width and height is removed, Icon will not show */
    width: 100%;
    height: 100%;
    background-image: url("../design/icons/burguer-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar__burguer-icon-prompt {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 99px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--fnt-big);
    background-color: #aa0000;
}

.navbar__burguer-icon-prompt--hidden {
    display: none;
}

.navbar__burguer-icon-prompt .list__item, .list__item a {
    list-style: none;
    text-decoration: none;
}

/* Main content */
main {
    margin: 12px 12px 0; /* top and horizontal margin, 0 bottom */
    line-height: 2.6rem;
}

main img {
    width: 30px;
}

.campaing {
    margin-top: 40px;
}

.campaing .campaing__title{
    margin-bottom: 26px;
    text-align: center;
    font-size: 26px;
    color: var(--main-fontColor);
}

.campaing p {
    padding: 0 12px;
    font-size: var(--fnt-medium);
    text-align: justify;
}

.brief-presentation {
    margin-top: 26px;
}

.brief-presentation .brief-presentation-title {
    margin-bottom: 4px;
    text-align: center;
    font-size: 1.9rem;
    color: var(--main-fontColor);
}

.brief-presentation .presentation-scndText, .presentation-scndText a {
    color: var(--scnd-fontColor);
    text-decoration: none;
}

.presentation-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.presentation-container img {
    margin-bottom: 12px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.brief-presentation p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Mision section */
.mision {
    margin-top: 26px;   
}

.mision .title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.9rem;
    color: var(--main-fontColor);
}

.mision p {
    padding: 0 12px;
    font-size: var(--fnt-medium);
    text-align: justify;
}

/* Footer */
footer {
    width: 100vw;
    height: 100px;
    margin-top: 26px;
    background-color: var(--main-background-color);
}

.author {
    padding-top: 12px;
    font-size: 1.5rem;
    text-align: center;
    color: #fefefe;
}

.social-media {
    display: flex;
}

.social-media li {
    list-style-type: none;
}